@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");

* {
    color: black;
}
img {
    width: 350px;
    height: 450px;
    border-radius: 12px;
    object-fit: cover;

}
body{
    background-color: #eaeff1;
    font-family: "Raleway", sans-serif;
}
#container{
    max-width: 460px;
    margin: 0 auto;
    margin-top: 5vh;
}
.tag {
    padding: 4px 8px;
    border: 1px solid #e5eaed;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    margin-top: 12px;
}
.name {
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
}
p{
    font-size: 14px;
    line-height: 150%;
}
.card {
    background-color: white;
    border: 1px solid #bacdd8;
    padding: 30px 50px;
    border-radius: 12px;
}
.card_details{
    padding: 16px 8px 8px 8px;
}