.w3-container .w3-light-grey .w3-padding-16{
  background-color: rgb(138, 255, 255)!important;
  clear: none;
}
.w3-ul{
  background-color: rgb(248, 235, 163)!important;
}

.w3-padding{
  background-color: rgb(193, 237, 255)!important;
}
.w3-green{
  background-color: bisque!important;
}
