html{
    font-family: 'press_start_2pregular';
}
body {
    background-color: lightseagreen;
    color: whitesmoke;
    font-family: 'press_start_2pregular';
}
#darkModeDiv{
    float: left;
}
#darkModeIMG{
    width: 50px;
    height: auto;
}
#headerIMGDiv{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 110px;

    height: 280px;
    overflow: hidden; 
}
#headerIMG {
    width: 500px;
    height: 350px;
}
#spacer{
    padding-bottom: 10px;
    flex-direction: column;
}
#dexNO{
    padding-bottom: 5px;
}
#pokeName{
    padding-bottom: 5px;
    text-align: center;
    font-family: 'press_start_2pregular';
}
#tempIMGDiv{
    display: flex;
    justify-content: center;
    align-content: center;
}
#tempIMG {
    width: 450px;
    height: auto;
    font-family: 'press_start_2pregular';
    padding-bottom: 15px;
}
.allTables{
    color:whitesmoke;
    margin: 0;
    padding: 0;
    padding-top: 15px;
}

#aboutDiv{
    padding-bottom: 10px;
    text-align: left;
    font-family: 'press_start_2pregular';
}
#about{
    text-align: center;
}

@font-face {
    font-family: 'press_start_2pregular';
    src: url('pressstart2p-regular-webfont.woff2') format('woff2'),
         url('pressstart2p-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
#buttonIMG {
    width: 50px;
    height: auto;
    font-family: 'press_start_2pregular';
}
#dexButtonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
button{
    border-radius: 10px;
    cursor: pointer;
}